{% extends "AppBundle::adminlayout.html.twig" %}
{% block title %}
    Admin
{% endblock %}
{% block contentheader %}
   Pagina Inicio Administrador
{% endblock %}

{% block migas %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder"></i> Administrador</a></li>
        <li><a href="#">Principal</a></li>

    </ol>
{% endblock %}

{% block contenido %}

{% endblock %}