{% extends "AppBundle::adminlayout.html.twig" %}
{% block title %}
    Galería
{% endblock %}
{% block contentheader %}
    Galería
{% endblock %}

{% block migas %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder"></i> Administrador</a></li>
        <li><a href="#">Galería</a></li>

    </ol>
{% endblock %}

{% block contenido %}
    <div class="error-page">

        <div class="error-content">
            <h3><i class="fa fa-picture-o text-yellow"></i> Galería.</h3>



            <ul>
                {% for gallery in galleries %}
                    <li><a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}">{{ gallery.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.error-content -->
    </div>
{% endblock %}

